div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
  border: 3px solid #73AD21;
}
body {
    min-height: 200vh;
}