div.sticky {
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}
image {
  position: sticky;
  top: 10px;
  border: 2px dashed #FF5733;
}
body {
    min-height: 200vh;
}